{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="map{{ map.getKey() }}">
<dt>{{ map|tdmmapsmodule_formattedTitle|notifyFilters('maps.filter_hooks.maps.filter')|safeHtml }}</dt>
<dd>{% if map.foreground is not empty and map.foregroundMeta|default %}
            <a href="{{ map.foregroundUrl }}" title="{{ map|tdmmapsmodule_formattedTitle|e('html_attr') }}"{% if map.foregroundMeta.isImage %} class="image-link"{% endif %}>
{% if map.foregroundMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'mapForeground') %}
    <img src="{{ map.foreground.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ map|tdmmapsmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ map.foregroundMeta.size|tdmmapsmodule_fileSize(map.foreground.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if map.description is not empty %}<dd>{{ map.description }}</dd>{% endif %}
</dl>
