{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
    {{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
    {{ pageAddAsset('javascript', zasset('@TdMMapsModule:js/TdMMapsModule.js')) }}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ include('@TdMMapsModule/Helper/includeModerationPanel.html.twig') }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
    <p class="text-center">
        Powered by <a href="https://modulestudio.de" title="Get the MOST out of Zikula!">ModuleStudio 1.1.0</a>
    </p>
{% endblock %}
